<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/base.css">
</head>

<body>
    <div id="app">
        <div class="text">
            编号：<input type="text" v-model='id'> 
            品牌名称：<input type="text" v-model='name'>
            <button @click='addData'>添加数据</button>
            <br>
            筛选数据：<input type="text">
        </div>
        <table id='tb'>
            <tr>
                <th>编号</th>
                <th>名称</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            <!-- 没有数据时显示这个列表 -->
            <tr v-if='list.length == 0'>
                <td colspan="4">
                    当前列表无数据
                </td>
            </tr>
            <tr v-for='item in list'>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <!-- <td>{{item.ctime | datefmt('yyyy-mm-dd')}}</td> -->
                <td>{{item.ctime | datefmt}}</td>
                
                <td>
                    <a href="javascript:;" @click='delData(item.id)'> 删除 </a>
                </td>
            </tr>
        </table>
    </div>
    <script src="js/vue221.js"></script>
    <script type="text/javascript">
        //定义全局过滤器 格式化时间
        Vue.filter('datefmt',function(input,formatstring){
            var res = '';
            var year = input.getFullYear();
            var month = input.getMonth() +1;
            var day = input.getDate();
            var hour = input.getHours();
            var minute = input.getMinutes();
            var second = input.getSeconds();
            if(formatstring == 'yyyy-mm-dd'){
                res = year + '-' + month + '-' + day;
            }else{
                res = year + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second ;
            }
            return res;
        });
        new Vue({
            el: '#app',
            data: {
                list: [
                    { id: 1, name: '本性', ctime: new Date }
                ],
                id: 0,
                name:'',
                ctime: new Date()
            },
            methods: {
                addData: //添加数据
                    function() {
                        if(this.id <= 0 || this.name == ''){
                            alert('请填写完整信息');
                            return;
                        }
                        this.list.push({ id: this.id, name: this.name, ctime: new Date() });
                        //清空页面中文本框中的内容
                        this.id = 0;
                        this.name = '';
                    },
                delData: //删除数据
                    function(id){
                        //判断是否删除数据
                        if(!confirm('是否真的删除数据？')){
                            return;
                        }
                       var index = this.list.findIndex(function(item){
                           return item.id == id;
                       });
                       this.list.splice(index,1);
                    }

            }
        })
    </script>
</body>

</html>